.avatarImage,
.initialsAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  font-weight: 600;
  color: white;
  flex-shrink: 0; // Prevents the avatar from shrinking in a flex container
}

.initialsAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--selection-bg); // Use a theme color for the background
  font-size: 0.9rem;
}